@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body 
		height: 100%
		background-color: #B47559	
		font-family: 'Press Start 2P', cursive

		color: #fff
a
	color: #FFF 
	&:active, &:focus 
			
			
			box-shadow: none !important
		

.wrapper 
		position: fixed
		top: 0
		left: 0
		width: 100%
		height: 100%
		text-shadow: 4px 2px #000
		font-family: 'Press Start 2P', cursive
		text-align: right
		color: #fff
		font-size: 25px 
		// background: url(/../img/cats.gif) no-repeat
		// background-position: left bottom
		// background-size: 32% 
		padding-top: 70px
		border-bottom: 2px solid #000 

.buttons 
		width: 100%
		right: 0
		text-align: right
		display: flex
		justify-content: space-between 
		.btn
			max-width: 240px 

.container
	position: relative
	z-index: 555
	
.butt 
		display: inline-block
		height: 100%

		font-size: 20px
		padding: 10px
		color: #FFF 
		margin: 20px 0 0 5px
		background: #F8A17A
		border: #F8A17A 1px solid 
		outline: none
		white-space: normal
		&:hover
			border: #F8B89C  1px solid 
			color: #FFF 
			background: #F8B89C 
		&:active
			border: #F8B89C  1px solid 
			color: #FFF 
			background: #F8B89C 


.header-one 
	font-size: 1.5em
	span
		span
			font-size: 2em
.gotya
	text-align: center
	font-size: 25px
.some_fire .fire_p 
		font-size: 1.3em
		margin-top: 40px
		i span
			text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px #F90, 0px -20px 40px #C33

.first 
		position: absolute
		bottom: 0
		right: 0
		font-size: 11px
		padding-right: 10px
.bg
		position: absolute
		bottom: -68px
		left: 0
		z-index: 0
		img
			width: 105% 

.first a 
		font-size: 11px
		color: #fff
		text-shadow: 4px 2px #000
		

.regret 
	display: none

@import "media" // Always at the end
